<form action="#" method="post">
    <h2>Contacto</h2>
    <div class="form-group">
        <label for="cardholder">Nombres:</label>
        <input type="text" id="cardholder" name="cardholder" required>
    </div>
    <div class="form-group">
        <label for="cardnumber">Apellidos:</label>
        <input type="text" id="cardnumber" name="cardnumber" required>
    </div>
    <div class="form-group">
        <label for="expiry">Telefono:</label>
        <input type="text" id="expiry" name="expiry" required>
    </div>
    <div class="form-group">
        <label for="cvv">Coreo:</label>
        <input type="email" name="Correo" placeholder="corre@email.com" required>
    </div>
    <div class="form-group">
        <label for="amount">Edad:</label>
        <input type="number" name="Edad" placeholder="Edad" required>
    </div>
    <input type="submit" value="Enviar">
</form>