<div id="descripcion">
    <h2>Misión</h2>
    <div class="letras">
        <p>Proporcionar a nuestros clientes una experiencia excepcional al adquirir productos y servicios
            relacionados con la tecnología móvil. Nos esforzamos por ofrecer una amplia gama de dispositivos móviles
            de última generación, accesorios innovadores y servicios de alta calidad, respaldados por un equipo
            comprometido de expertos en tecnología. Nos dedicamos a satisfacer las necesidades y superar las
            expectativas de nuestros clientes, brindando soluciones personalizadas y un servicio al cliente
            excepcional en todo momento.
        </p>
    </div>
    <h2>Vision</h2>
    <div class="letras">
        <p>Convertirnos en el principal destino para los consumidores que buscan productos y servicios de tecnología
            móvil de vanguardia. Nos esforzamos por ser reconocidos como líderes en innovación, calidad y servicio
            al cliente en nuestra industria. Buscamos expandir nuestra presencia tanto física como en línea para
            llegar a una amplia audiencia de clientes potenciales, manteniendo siempre nuestros valores
            fundamentales de integridad, excelencia y compromiso con la satisfacción del cliente. Nuestra visión es
            ser la elección preferida de los consumidores cuando se trata de sus necesidades de tecnología móvil,
            creando relaciones sólidas y duraderas con cada cliente que atendemos.
        </p>
    </div>
</div>
