<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Sobre Nosotros</h3>
        <p>Somos una empresa dedicada a ofrecer servicios de calidad, comprometidos con la satisfacción de nuestros clientes.</p>
      </div>
      <div class="footer-section">
        <h3>Enlaces Rápidos</h3>
        <ul>
          <li><a routerLink="inicio" class="nav-link " routerLinkActive="active">Inicio</a></li>
          <li><a routerLink="productos" class="nav-link " routerLinkActive="active">Celulares</a></li>
          <li><a routerLink="login" class="nav-link " routerLinkActive="active">Login</a></li>
          <li class="nav-item"><a routerLink="contactos" class="nav-link" routerLinkActive="active">Contactanos</a></li>
          
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Email: {{corre}}</p>
        <p>Teléfono: +57 123 456 7890</p>
        
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </footer>
  